.mdl.input {
  position: relative;
  font-size: 1em;
  display: inline-block;
  box-sizing: border-box;
  //width: 300px;
  //max-width: 100%;
  width: 100%;
  margin: 0;
  //padding: 20px 0; }
  padding: 0.65em 0; }
  .mdl.input .label-button {
    position: absolute;
    bottom: 1.25em; }

.mdl.input .bottom-right.icons {
  position: absolute;
  right: 0;
  bottom: -0.5em;
}

/*.mdl.input .top-right.icons {
  position: absolute;
  right: 0;
  top: -0.5em;
}*/

.mdl.input.right {
  text-align: right; }

//.mdl.input.full {
//  width: 100%; }

.mdl.input.expandable {
  min-width: 2em;
  width: auto;
  min-height: 2em; }

.mdl.input input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0.25em 0;
  width: 100%;
  
  outline: none;
  
  background: none;
  text-align: left;
  color: inherit; }
  .mdl.input.focused input {
    outline: none; }
  .mdl.input.invalid input {
    border-color: rgb(222, 50, 38);
    box-shadow: none; }
  .mdl.input.disabled input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26); }

.mdl.input textarea {
  display: block; }

.mdl.input .label-text {
  bottom: 0;
  color: rgba(0,0,0, 0.26);
  font-size: 1em;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 1.5em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left; }
  .mdl.input.dirty .label-text {
    visibility: hidden; }
  .mdl.input.floating .label-text {
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
  .mdl.input.disabled .label-text {
    color: rgba(0,0,0, 0.26); }
  .mdl.input.floating.focused .label-text,
  .mdl.input.floating.dirty .label-text {
    color: rgb(63,81,181);
    font-size: 0.75em;
    top: 0.25em;
    visibility: visible; }
  .mdl.input.floating.focused .expandable-holder .label-text,
  .mdl.input.floating.dirty .expandable-holder .label-text {
    top: -16px; }
  .mdl.input.floating.invalid .label-text {
    color: rgb(222, 50, 38);
    font-size: 0.75em; }
  .label-text:after {
    background-color: rgb(63,81,181);
    bottom: 1.25em;
    content: '';
    height: 0.125em;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 0.625em; }
  .mdl.input.focused .label-text:after {
    left: 0;
    visibility: visible;
    width: 100%; }
  .mdl.input.invalid .label-text:after {
    background-color: rgb(222, 50, 38); }

.mdl.input .error {
  color: rgb(222, 50, 38);
  position: absolute;
  font-size: 0.75em;
  margin-top: 0.1875em;
  visibility: hidden;
  display: block; }
  .mdl.input.invalid .mdl.input .error {
    visibility: visible; }

.mdl.input.expandable .expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 2em;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 0.1px; }
  .mdl.input.focused .expandable-holder, .mdl.input.dirty .expandable-holder {
    max-width: 600px; }
  .expandable-holder .label-text:after {
    bottom: 0; }

/*--------------------
        Size
---------------------*/

.mdl.mini.input {
  font-size: 0.8125em;
}
.mdl.small.input {
  font-size: 0.875em;
}
.mdl.input {
  font-size: 1em;
}
.mdl.large.input {
  font-size: 1.125em;
}
.mdl.big.input {
  font-size: 1.25em;
}
.mdl.huge.input {
  font-size: 1.375em;
}
.mdl.massive.input {
  font-size: 1.5em;
}

.mdl.date.input {
  padding: 0.2em 0;
  
  & > input {
    padding: 0;
    max-width: 5.1em;
    
    &:disabled {
      border-bottom: 0;
      padding-bottom: 1px;
    }
  }
}

.mdl.date.right.input > i.icon {
  position: absolute;
  left: -1.2em;
  top: 0.32em;
  font-size: 1.1em;
}

.mdl.date.right.input > input {
  text-align: right;
}

