div.tags.inline {
  padding-top: 0.2em;
  clear: both;
}

div.tags i.icon.action {
  cursor: pointer;
  margin-right: 0;
}

div.tags.noop i.icon.action {
  display: none;
}

ul.noop > li.tags {
  i {
    display: none;
  }
}

div.tags.inline > .ui.label,
.ui.label.tag.inline {
  margin: 0.3em 0.5em 0.3em 0;
  padding: 0.15em 1em;
}

.ui.label.tag {
  text-transform: none;
  padding: 0.15em 1em;
}

.ui.label.tag.noop > i {
  display: none;
}

div.dcontainer .ui.label.tag {
  border: 1px solid $primary-color;
}

div.tags > .ui.label {
  border: 1px solid $primary-color;
  text-transform: none;
  font-size: 0.85em;
}

ul.dropdown-menu > li.tags {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
  cursor: default;
  > .ui.label {
    margin: 0.2em 0.4em;
  }
  i.close.icon {
    cursor: pointer;
    margin-right: 0;
  }
}

.fluid.tag {
  padding-left: 0.5em;
  position: relative;
  width: 100%;
  > i.icon {
    position: absolute;
    right: 0;
    top: 0.1em;
  }
}
