.vscode
bookmarklet
bookmarklet-nw
dist
g
node_modules
nw
src
target
templates
build.sh
chrome-app.js
favicon.ico
index.html
node-chrome-app.vbs
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
dist
