
// Mixins & variables first
@import "./node_modules/pavilion/scss/pavilion-parts/functions";
@import "./node_modules/pavilion/scss/pavilion-parts/mixins";
@import "./scss/_variables.scss";

// Core pavilion-parts
@import "./node_modules/pavilion/scss/pavilion-parts/normalize";
@import "./node_modules/pavilion/scss/pavilion-parts/base";
@import "./node_modules/pavilion/scss/pavilion-parts/grid";
@import "./node_modules/pavilion/scss/pavilion-parts/typography";
@import "./scss/buttons";
@import "./node_modules/pavilion/scss/pavilion-parts/lists";
@import "./node_modules/pavilion/scss/pavilion-parts/forms";
@import "./node_modules/pavilion/scss/pavilion-parts/tables";
@import "./node_modules/pavilion/scss/pavilion-parts/utilities";
@import "./scss/dropdowns.scss";
@import "./scss/msg.scss";
@import "./scss/spectre.scss";
@import "./scss/tab.scss";

@import "./scss/fa.scss";

i.icon.desc-yes { @extend i.icon.down-big; }
i.icon.desc-no { @extend i.icon.up-big; }
i.icon.close { @extend i.icon.cancel; }

@import "./scss/form.scss";
@import "./scss/form-misc.scss";

@import "./scss/list.scss";
@import "./scss/list-misc.scss";

@import "./scss/misc.scss";

// ================================================== 
// misc

.float-right {
  float: right;
}

div.ib {
  display: inline-block;
  > input {
    display: inline-block;
    width: auto;
  }
  > button.outlined {
    padding: 0.5rem 0.5rem 0.5rem 0.9rem;
    margin: 0;
  }
}

// ================================================== 
// app specific

