
// Mixins & variables first
@import "./node_modules/pavilion/scss/pavilion-parts/functions";
@import "./node_modules/pavilion/scss/pavilion-parts/mixins";
@import "./scss/_variables.scss";

// Core pavilion-parts
@import "./node_modules/pavilion/scss/pavilion-parts/normalize";
@import "./node_modules/pavilion/scss/pavilion-parts/base";
@import "./node_modules/pavilion/scss/pavilion-parts/grid";
@import "./node_modules/pavilion/scss/pavilion-parts/typography";
@import "./scss/buttons";
@import "./node_modules/pavilion/scss/pavilion-parts/lists";
@import "./node_modules/pavilion/scss/pavilion-parts/forms";
@import "./node_modules/pavilion/scss/pavilion-parts/tables";
@import "./node_modules/pavilion/scss/pavilion-parts/utilities";
@import "./scss/dropdowns.scss";
@import "./scss/msg.scss";
@import "./scss/spectre.scss";
@import "./scss/tab.scss";

@import "./scss/fa.scss";

i.icon.desc-yes { @extend i.icon.down-big; }
i.icon.desc-no { @extend i.icon.up-big; }
i.icon.close { @extend i.icon.cancel; }

@import "./scss/form.scss";

select {
  -webkit-appearance: none;
}

@import "./scss/list.scss";

li.item {
  > a {
    cursor: pointer;
    text-decoration: none;
  }
  > button.stripped, > a {
    font-size: 1.05em;
  }
  > div.ui.msg {
    margin: 0.5em 0 0 0;
  }
}

.page-info {
  font-size: 0.85em;
}

// item detail

div.detail > hr {
  margin: 0.5em 0;
}

div.detail > form,
div.dropdown-menu > form {
  margin-bottom: 0;
}

div.content.floated {
  > i.icon.action,
  > i.icon.ok-circled,
  > i.icon.cancel-circled {
    cursor: pointer;
  }
}

div.content.dd {
  margin-left: 1.25em;
}

small.description {
  color: $alt-color !important;
}

// ================================================== 
// misc

.float-right {
  float: right;
}

div.ib {
  display: inline-block;
  > input {
    display: inline-block;
    width: auto;
  }
  > button.outlined {
    padding: 0.5rem 0.5rem 0.5rem 0.9rem;
    margin: 0;
  }
}

// ================================================== 
// app specific

div.completed {
  text-decoration: line-through;
}
