$body-color: #555555;
$primary-color: #0080ff;
$success-color: #52A954;
$success-bg-color: #DEFCD5;
$error-color: #A95252;
$error-bg-color: #F1D7D7;

$small-radius: 3px;
$line-height-normal: 1.5;
$padding-input-and-button-y: 0.6em;
$padding-input-and-button-x: 1em;
$padding-input-and-button: $padding-input-and-button-y $padding-input-and-button-x;
$border-input-and-button: 1px;

@import "./scss/mdl.scss";
@import "./scss/dropdowns.scss";

body {
  color: $body-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0.5em;
}

.url {
  color: $primary-color !important;
}

.msg {
  position: relative;
  background-color: $success-bg-color;
  color: $success-color;
  padding: 1em 0.3em 0.3em 0.3em;
  > button.b {
    position: absolute;
    padding: 0.02em 0.3em;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 0.9rem;
  }
}
.msg.error {
  background-color: $error-bg-color;
  color: $error-color;
}

ul.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    padding-bottom: 0.5em;
    margin: 1em 0;
    > a {
      position: relative;
      cursor: default;
      background-color: #F1F1F1;
      padding: 0.5em 5em 0.5em 0.5em;
      border-bottom: 1px solid #ccc;
      > button.b {
        position: absolute;
        padding: 0.2em 0.4em;
        right: 0;
        top: 0;
        cursor: pointer;
        color: #ccc;
        font-size: 0.8rem;

        &:hover {
          color: #555;
        }
      }
    }
  }
}

button.b {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-weight: bold;
  color: inherit;
  font-size: 1rem;
  &[disabled="true"], &[disabled="disabled"], &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

button.pv {
  display: inline-block;
  border: $border-input-and-button solid transparent;
  border-radius: $small-radius;
  font-family: inherit;
  padding: $padding-input-and-button;
  line-height: $line-height-normal;
  //margin-right: 1em;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  @include noselect();
  &:active {
    transform: scale(0.97);
  }
  &[disabled="true"], &[disabled="disabled"], &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.h5,
  &.h6 {
    padding-left: 0.9em;
    padding-right: 0.9em;
  }
}

button.pv.primary {
  background-color: $primary-color;
  color: #ffffff;
  &:hover, &:visited, &:focus {
    background-color: darken($primary-color, 10%);
  }
  &:active {
    background-color: darken($primary-color, 12%);
  }
}

button.pv.outlined {
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
  &:hover, &:visited, &:focus {
      color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
  }
  &:active {
      color: darken($primary-color, 12%);
      border-color: darken($primary-color, 10%);
  }
}

button.pv.stripped {
  background-color: transparent;
  color: $primary-color;
  &:hover {
      color: darken($primary-color, 10%);
  }
  &:visited, &:focus {
      text-decoration: underline;
      color: darken($primary-color, 10%);
  }
  &:active {
      color: darken($primary-color, 12%);
  }
}

button.pv.fluid {
  display: block;
  width: 100%;
}

.right-aligned {
  text-align: right;
}

.right-floated {
  float: right;
}

#bk-tag {
  position: fixed;
  bottom: 0;
  right: 0.5em;
  width: 50%;
}
