@font-face {
  font-family: 'fontawesome';
  src: url(./assets/fonts/fontawesome.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

select.icons {
  font-family: 'fontawesome' !important;
}

i.icon {

  display: inline-block;
  opacity: 0.75;

  margin: 0em 0.25em 0em 0em;

  width: 1.23em;
  height: 1em;

  font-family: 'fontawesome';
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;

  //speak: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  &.plus-squared-alt:before { content: '\e800'; } /* '' */
  &.minus:before { content: '\e801'; } /* '' */
  &.minus-circled:before { content: '\e802'; } /* '' */
  &.minus-squared:before { content: '\e803'; } /* '' */
  &.minus-squared-alt:before { content: '\e804'; } /* '' */
  &.help:before { content: '\e805'; } /* '' */
  &.help-circled:before { content: '\e806'; } /* '' */
  &.info-circled:before { content: '\e807'; } /* '' */
  &.info:before { content: '\e808'; } /* '' */
  &.home:before { content: '\e809'; } /* '' */
  &.link:before { content: '\e80a'; } /* '' */
  &.unlink:before { content: '\e80b'; } /* '' */
  &.link-ext:before { content: '\e80c'; } /* '' */
  &.link-ext-alt:before { content: '\e80d'; } /* '' */
  &.attach:before { content: '\e80e'; } /* '' */
  &.lock:before { content: '\e80f'; } /* '' */
  &.lock-open:before { content: '\e810'; } /* '' */
  &.lock-open-alt:before { content: '\e811'; } /* '' */
  &.pin:before { content: '\e812'; } /* '' */
  &.eye:before { content: '\e813'; } /* '' */
  &.eye-off:before { content: '\e814'; } /* '' */
  &.tag:before { content: '\e815'; } /* '' */
  &.tags:before { content: '\e816'; } /* '' */
  &.bookmark:before { content: '\e817'; } /* '' */
  &.bookmark.empty:before { content: '\e818'; } /* '' */
  &.flag:before { content: '\e819'; } /* '' */
  &.flag.empty:before { content: '\e81a'; } /* '' */
  &.flag-checkered:before { content: '\e81b'; } /* '' */
  &.thumbs-up:before { content: '\e81c'; } /* '' */
  &.thumbs-down:before { content: '\e81d'; } /* '' */
  &.thumbs-up-alt:before { content: '\e81e'; } /* '' */
  &.thumbs-down-alt:before { content: '\e81f'; } /* '' */
  &.download:before { content: '\e820'; } /* '' */
  &.upload:before { content: '\e821'; } /* '' */
  &.download-cloud:before { content: '\e822'; } /* '' */
  &.upload-cloud:before { content: '\e823'; } /* '' */
  &.reply:before { content: '\e824'; } /* '' */
  &.reply-all:before { content: '\e825'; } /* '' */
  &.forward:before { content: '\e826'; } /* '' */
  &.quote-left:before { content: '\e827'; } /* '' */
  &.quote-right:before { content: '\e828'; } /* '' */
  &.code:before { content: '\e829'; } /* '' */
  &.export:before { content: '\e82a'; } /* '' */
  &.export-alt:before { content: '\e82b'; } /* '' */
  &.share:before { content: '\e82c'; } /* '' */
  &.share-squared:before { content: '\e82d'; } /* '' */
  &.pencil:before { content: '\e82e'; } /* '' */
  &.pencil-squared:before { content: '\e82f'; } /* '' */
  &.edit:before { content: '\e830'; } /* '' */
  &.print:before { content: '\e831'; } /* '' */
  &.retweet:before { content: '\e832'; } /* '' */
  &.keyboard:before { content: '\e833'; } /* '' */
  &.gamepad:before { content: '\e834'; } /* '' */
  &.comment:before { content: '\e835'; } /* '' */
  &.chat:before { content: '\e836'; } /* '' */
  &.comment.empty:before { content: '\e837'; } /* '' */
  &.chat.empty:before { content: '\e838'; } /* '' */
  &.bell:before { content: '\e839'; } /* '' */
  &.bell-alt:before { content: '\e83a'; } /* '' */
  &.bell-off:before { content: '\e83b'; } /* '' */
  &.bell-off.empty:before { content: '\e83c'; } /* '' */
  &.attention-alt:before { content: '\e83d'; } /* '' */
  &.attention:before { content: '\e83e'; } /* '' */
  &.attention-circled:before { content: '\e83f'; } /* '' */
  &.location:before { content: '\e840'; } /* '' */
  &.direction:before { content: '\e841'; } /* '' */
  &.compass:before { content: '\e842'; } /* '' */
  &.trash:before { content: '\e843'; } /* '' */
  &.trash.empty:before { content: '\e844'; } /* '' */
  &.doc:before { content: '\e845'; } /* '' */
  &.docs:before { content: '\e846'; } /* '' */
  &.doc-text:before { content: '\e847'; } /* '' */
  &.doc-inv:before { content: '\e848'; } /* '' */
  &.doc-text-inv:before { content: '\e849'; } /* '' */
  &.file-pdf:before { content: '\e84a'; } /* '' */
  &.file-word:before { content: '\e84b'; } /* '' */
  &.file-excel:before { content: '\e84c'; } /* '' */
  &.file-powerpoint:before { content: '\e84d'; } /* '' */
  &.file-image:before { content: '\e84e'; } /* '' */
  &.file-archive:before { content: '\e84f'; } /* '' */
  &.file-audio:before { content: '\e850'; } /* '' */
  &.file-video:before { content: '\e851'; } /* '' */
  &.file-code:before { content: '\e852'; } /* '' */
  &.folder:before { content: '\e853'; } /* '' */
  &.folder-open:before { content: '\e854'; } /* '' */
  &.folder.empty:before { content: '\e855'; } /* '' */
  &.folder-open.empty:before { content: '\e856'; } /* '' */
  &.box:before { content: '\e857'; } /* '' */
  &.rss:before { content: '\e858'; } /* '' */
  &.rss-squared:before { content: '\e859'; } /* '' */
  &.phone:before { content: '\e85a'; } /* '' */
  &.phone-squared:before { content: '\e85b'; } /* '' */
  &.fax:before { content: '\e85c'; } /* '' */
  &.menu:before { content: '\e85d'; } /* '' */
  &.cog:before { content: '\e85e'; } /* '' */
  &.cog-alt:before { content: '\e85f'; } /* '' */
  &.wrench:before { content: '\e860'; } /* '' */
  &.sliders:before { content: '\e861'; } /* '' */
  &.basket:before { content: '\e862'; } /* '' */
  &.cart-plus:before { content: '\e863'; } /* '' */
  &.cart-arrow-down:before { content: '\e864'; } /* '' */
  &.calendar:before { content: '\e865'; } /* '' */
  &.calendar.empty:before { content: '\e866'; } /* '' */
  &.login:before { content: '\e867'; } /* '' */
  &.logout:before { content: '\e868'; } /* '' */
  &.mic:before { content: '\e869'; } /* '' */
  &.mute:before { content: '\e86a'; } /* '' */
  &.volume-off:before { content: '\e86b'; } /* '' */
  &.volume-down:before { content: '\e86c'; } /* '' */
  &.volume-up:before { content: '\e86d'; } /* '' */
  &.headphones:before { content: '\e86e'; } /* '' */
  &.clock:before { content: '\e86f'; } /* '' */
  &.lightbulb:before { content: '\e870'; } /* '' */
  &.block:before { content: '\e871'; } /* '' */
  &.resize-full:before { content: '\e872'; } /* '' */
  &.resize-full-alt:before { content: '\e873'; } /* '' */
  &.resize-small:before { content: '\e874'; } /* '' */
  &.resize-vertical:before { content: '\e875'; } /* '' */
  &.resize-horizontal:before { content: '\e876'; } /* '' */
  &.move:before { content: '\e877'; } /* '' */
  &.zoom-in:before { content: '\e878'; } /* '' */
  &.zoom-out:before { content: '\e879'; } /* '' */
  &.down-circled2:before { content: '\e87a'; } /* '' */
  &.up-circled2:before { content: '\e87b'; } /* '' */
  &.left-circled2:before { content: '\e87c'; } /* '' */
  &.right-circled2:before { content: '\e87d'; } /* '' */
  &.down-dir:before { content: '\e87e'; } /* '' */
  &.up-dir:before { content: '\e87f'; } /* '' */
  &.left-dir:before { content: '\e880'; } /* '' */
  &.right-dir:before { content: '\e881'; } /* '' */
  &.down-open:before { content: '\e882'; } /* '' */
  &.left-open:before { content: '\e883'; } /* '' */
  &.right-open:before { content: '\e884'; } /* '' */
  &.up-open:before { content: '\e885'; } /* '' */
  &.angle-left:before { content: '\e886'; } /* '' */
  &.angle-right:before { content: '\e887'; } /* '' */
  &.angle-up:before { content: '\e888'; } /* '' */
  &.angle-down:before { content: '\e889'; } /* '' */
  &.angle-circled-left:before { content: '\e88a'; } /* '' */
  &.angle-circled-right:before { content: '\e88b'; } /* '' */
  &.angle-circled-up:before { content: '\e88c'; } /* '' */
  &.angle-circled-down:before { content: '\e88d'; } /* '' */
  &.angle-double-left:before { content: '\e88e'; } /* '' */
  &.angle-double-right:before { content: '\e88f'; } /* '' */
  &.angle-double-up:before { content: '\e890'; } /* '' */
  &.angle-double-down:before { content: '\e891'; } /* '' */
  &.down:before { content: '\e892'; } /* '' */
  &.left:before { content: '\e893'; } /* '' */
  &.right:before { content: '\e894'; } /* '' */
  &.up:before { content: '\e895'; } /* '' */
  &.down-big:before { content: '\e896'; } /* '' */
  &.left-big:before { content: '\e897'; } /* '' */
  &.right-big:before { content: '\e898'; } /* '' */
  &.up-big:before { content: '\e899'; } /* '' */
  &.right-hand:before { content: '\e89a'; } /* '' */
  &.left-hand:before { content: '\e89b'; } /* '' */
  &.up-hand:before { content: '\e89c'; } /* '' */
  &.down-hand:before { content: '\e89d'; } /* '' */
  &.left-circled:before { content: '\e89e'; } /* '' */
  &.right-circled:before { content: '\e89f'; } /* '' */
  &.up-circled:before { content: '\e8a0'; } /* '' */
  &.down-circled:before { content: '\e8a1'; } /* '' */
  &.cw:before { content: '\e8a2'; } /* '' */
  &.ccw:before { content: '\e8a3'; } /* '' */
  &.arrows-cw:before { content: '\e8a4'; } /* '' */
  &.level-up:before { content: '\e8a5'; } /* '' */
  &.level-down:before { content: '\e8a6'; } /* '' */
  &.shuffle:before { content: '\e8a7'; } /* '' */
  &.exchange:before { content: '\e8a8'; } /* '' */
  &.history:before { content: '\e8a9'; } /* '' */
  &.expand:before { content: '\e8aa'; } /* '' */
  &.collapse:before { content: '\e8ab'; } /* '' */
  &.expand-right:before { content: '\e8ac'; } /* '' */
  &.collapse-left:before { content: '\e8ad'; } /* '' */
  &.play:before { content: '\e8ae'; } /* '' */
  &.play-circled:before { content: '\e8af'; } /* '' */
  &.play-circled2:before { content: '\e8b0'; } /* '' */
  &.stop:before { content: '\e8b1'; } /* '' */
  &.pause:before { content: '\e8b2'; } /* '' */
  &.to-end:before { content: '\e8b3'; } /* '' */
  &.to-end-alt:before { content: '\e8b4'; } /* '' */
  &.to-start:before { content: '\e8b5'; } /* '' */
  &.to-start-alt:before { content: '\e8b6'; } /* '' */
  &.fast-fw:before { content: '\e8b7'; } /* '' */
  &.fast-bw:before { content: '\e8b8'; } /* '' */
  &.eject:before { content: '\e8b9'; } /* '' */
  &.target:before { content: '\e8ba'; } /* '' */
  &.signal:before { content: '\e8bb'; } /* '' */
  &.wifi:before { content: '\e8bc'; } /* '' */
  &.award:before { content: '\e8bd'; } /* '' */
  &.desktop:before { content: '\e8be'; } /* '' */
  &.laptop:before { content: '\e8bf'; } /* '' */
  &.tablet:before { content: '\e8c0'; } /* '' */
  &.mobile:before { content: '\e8c1'; } /* '' */
  &.inbox:before { content: '\e8c2'; } /* '' */
  &.globe:before { content: '\e8c3'; } /* '' */
  &.sun:before { content: '\e8c4'; } /* '' */
  &.cloud:before { content: '\e8c5'; } /* '' */
  &.flash:before { content: '\e8c6'; } /* '' */
  &.moon:before { content: '\e8c7'; } /* '' */
  &.umbrella:before { content: '\e8c8'; } /* '' */
  &.flight:before { content: '\e8c9'; } /* '' */
  &.fighter-jet:before { content: '\e8ca'; } /* '' */
  &.paper-plane:before { content: '\e8cb'; } /* '' */
  &.paper-plane.empty:before { content: '\e8cc'; } /* '' */
  &.space-shuttle:before { content: '\e8cd'; } /* '' */
  &.leaf:before { content: '\e8ce'; } /* '' */
  &.font:before { content: '\e8cf'; } /* '' */
  &.bold:before { content: '\e8d0'; } /* '' */
  &.medium:before { content: '\e8d1'; } /* '' */
  &.italic:before { content: '\e8d2'; } /* '' */
  &.header:before { content: '\e8d3'; } /* '' */
  &.paragraph:before { content: '\e8d4'; } /* '' */
  &.text-height:before { content: '\e8d5'; } /* '' */
  &.text-width:before { content: '\e8d6'; } /* '' */
  &.align-left:before { content: '\e8d7'; } /* '' */
  &.align-center:before { content: '\e8d8'; } /* '' */
  &.align-right:before { content: '\e8d9'; } /* '' */
  &.align-justify:before { content: '\e8da'; } /* '' */
  &.list:before { content: '\e8db'; } /* '' */
  &.indent-left:before { content: '\e8dc'; } /* '' */
  &.indent-right:before { content: '\e8dd'; } /* '' */
  &.list-bullet:before { content: '\e8de'; } /* '' */
  &.list-numbered:before { content: '\e8df'; } /* '' */
  &.strike:before { content: '\e8e0'; } /* '' */
  &.underline:before { content: '\e8e1'; } /* '' */
  &.superscript:before { content: '\e8e2'; } /* '' */
  &.subscript:before { content: '\e8e3'; } /* '' */
  &.table:before { content: '\e8e4'; } /* '' */
  &.columns:before { content: '\e8e5'; } /* '' */
  &.crop:before { content: '\e8e6'; } /* '' */
  &.scissors:before { content: '\e8e7'; } /* '' */
  &.paste:before { content: '\e8e8'; } /* '' */
  &.briefcase:before { content: '\e8e9'; } /* '' */
  &.suitcase:before { content: '\e8ea'; } /* '' */
  &.ellipsis:before { content: '\e8eb'; } /* '' */
  &.ellipsis-vert:before { content: '\e8ec'; } /* '' */
  &.off:before { content: '\e8ed'; } /* '' */
  &.road:before { content: '\e8ee'; } /* '' */
  &.list-alt:before { content: '\e8ef'; } /* '' */
  &.qrcode:before { content: '\e8f0'; } /* '' */
  &.barcode:before { content: '\e8f1'; } /* '' */
  &.book:before { content: '\e8f2'; } /* '' */
  &.ajust:before { content: '\e8f3'; } /* '' */
  &.tint:before { content: '\e8f4'; } /* '' */
  &.toggle-off:before { content: '\e8f5'; } /* '' */
  &.toggle-on:before { content: '\e8f6'; } /* '' */
  &.check:before { content: '\e8f7'; } /* '' */
  &.check.empty:before { content: '\e8f8'; } /* '' */
  &.circle:before { content: '\e8f9'; } /* '' */
  &.circle.empty:before { content: '\e8fa'; } /* '' */
  &.circle-thin:before { content: '\e8fb'; } /* '' */
  &.circle-notch:before { content: '\e8fc'; } /* '' */
  &.dot-circled:before { content: '\e8fd'; } /* '' */
  &.asterisk:before { content: '\e8fe'; } /* '' */
  &.gift:before { content: '\e8ff'; } /* '' */
  &.fire:before { content: '\e900'; } /* '' */
  &.magnet:before { content: '\e901'; } /* '' */
  &.chart-bar:before { content: '\e902'; } /* '' */
  &.chart-area:before { content: '\e903'; } /* '' */
  &.chart-pie:before { content: '\e904'; } /* '' */
  &.chart-line:before { content: '\e905'; } /* '' */
  &.ticket:before { content: '\e906'; } /* '' */
  &.credit-card:before { content: '\e907'; } /* '' */
  &.floppy:before { content: '\e908'; } /* '' */
  &.megaphone:before { content: '\e909'; } /* '' */
  &.hdd:before { content: '\e90a'; } /* '' */
  &.key:before { content: '\e90b'; } /* '' */
  &.fork:before { content: '\e90c'; } /* '' */
  &.rocket:before { content: '\e90d'; } /* '' */
  &.bug:before { content: '\e90e'; } /* '' */
  &.certificate:before { content: '\e90f'; } /* '' */
  &.tasks:before { content: '\e910'; } /* '' */
  &.filter:before { content: '\e911'; } /* '' */
  &.beaker:before { content: '\e912'; } /* '' */
  &.magic:before { content: '\e913'; } /* '' */
  &.cab:before { content: '\e914'; } /* '' */
  &.taxi:before { content: '\e915'; } /* '' */
  &.truck:before { content: '\e916'; } /* '' */
  &.bus:before { content: '\e917'; } /* '' */
  &.bicycle:before { content: '\e918'; } /* '' */
  &.motorcycle:before { content: '\e919'; } /* '' */
  &.train:before { content: '\e91a'; } /* '' */
  &.subway:before { content: '\e91b'; } /* '' */
  &.ship:before { content: '\e91c'; } /* '' */
  &.money:before { content: '\e91d'; } /* '' */
  &.euro:before { content: '\e91e'; } /* '' */
  &.pound:before { content: '\e91f'; } /* '' */
  &.dollar:before { content: '\e920'; } /* '' */
  &.rupee:before { content: '\e921'; } /* '' */
  &.yen:before { content: '\e922'; } /* '' */
  &.rouble:before { content: '\e923'; } /* '' */
  &.shekel:before { content: '\e924'; } /* '' */
  &.try:before { content: '\e925'; } /* '' */
  &.won:before { content: '\e926'; } /* '' */
  &.bitcoin:before { content: '\e927'; } /* '' */
  &.viacoin:before { content: '\e928'; } /* '' */
  &.sort:before { content: '\e929'; } /* '' */
  &.sort-down:before { content: '\e92a'; } /* '' */
  &.sort-up:before { content: '\e92b'; } /* '' */
  &.sort-alt-up:before { content: '\e92c'; } /* '' */
  &.sort-alt-down:before { content: '\e92d'; } /* '' */
  &.sort-name-up:before { content: '\e92e'; } /* '' */
  &.sort-name-down:before { content: '\e92f'; } /* '' */
  &.sort-number-up:before { content: '\e930'; } /* '' */
  &.sort-number-down:before { content: '\e931'; } /* '' */
  &.hammer:before { content: '\e932'; } /* '' */
  &.gauge:before { content: '\e933'; } /* '' */
  &.sitemap:before { content: '\e934'; } /* '' */
  &.spinner:before { content: '\e935'; } /* '' */
  &.coffee:before { content: '\e936'; } /* '' */
  &.food:before { content: '\e937'; } /* '' */
  &.beer:before { content: '\e938'; } /* '' */
  &.user-md:before { content: '\e939'; } /* '' */
  &.stethoscope:before { content: '\e93a'; } /* '' */
  &.heartbeat:before { content: '\e93b'; } /* '' */
  &.ambulance:before { content: '\e93c'; } /* '' */
  &.medkit:before { content: '\e93d'; } /* '' */
  &.h-sigh:before { content: '\e93e'; } /* '' */
  &.bed:before { content: '\e93f'; } /* '' */
  &.hospital:before { content: '\e940'; } /* '' */
  &.building:before { content: '\e941'; } /* '' */
  &.building-filled:before { content: '\e942'; } /* '' */
  &.bank:before { content: '\e943'; } /* '' */
  &.smile:before { content: '\e944'; } /* '' */
  &.frown:before { content: '\e945'; } /* '' */
  &.meh:before { content: '\e946'; } /* '' */
  &.anchor:before { content: '\e947'; } /* '' */
  &.terminal:before { content: '\e948'; } /* '' */
  &.eraser:before { content: '\e949'; } /* '' */
  &.puzzle:before { content: '\e94a'; } /* '' */
  &.shield:before { content: '\e94b'; } /* '' */
  &.extinguisher:before { content: '\e94c'; } /* '' */
  &.bullseye:before { content: '\e94d'; } /* '' */
  &.wheelchair:before { content: '\e94e'; } /* '' */
  &.language:before { content: '\e94f'; } /* '' */
  &.graduation-cap:before { content: '\e950'; } /* '' */
  &.paw:before { content: '\e951'; } /* '' */
  &.spoon:before { content: '\e952'; } /* '' */
  &.cube:before { content: '\e953'; } /* '' */
  &.cubes:before { content: '\e954'; } /* '' */
  &.recycle:before { content: '\e955'; } /* '' */
  &.tree:before { content: '\e956'; } /* '' */
  &.database:before { content: '\e957'; } /* '' */
  &.server:before { content: '\e958'; } /* '' */
  &.lifebuoy:before { content: '\e959'; } /* '' */
  &.rebel:before { content: '\e95a'; } /* '' */
  &.empire:before { content: '\e95b'; } /* '' */
  &.bomb:before { content: '\e95c'; } /* '' */
  &.soccer-ball:before { content: '\e95d'; } /* '' */
  &.tty:before { content: '\e95e'; } /* '' */
  &.binoculars:before { content: '\e95f'; } /* '' */
  &.plug:before { content: '\e960'; } /* '' */
  &.newspaper:before { content: '\e961'; } /* '' */
  &.calc:before { content: '\e962'; } /* '' */
  &.copyright:before { content: '\e963'; } /* '' */
  &.at:before { content: '\e964'; } /* '' */
  &.eyedropper:before { content: '\e965'; } /* '' */
  &.brush:before { content: '\e966'; } /* '' */
  &.birthday:before { content: '\e967'; } /* '' */
  &.diamond:before { content: '\e968'; } /* '' */
  &.street-view:before { content: '\e969'; } /* '' */
  &.venus:before { content: '\e96a'; } /* '' */
  &.mars:before { content: '\e96b'; } /* '' */
  &.mercury:before { content: '\e96c'; } /* '' */
  &.transgender:before { content: '\e96d'; } /* '' */
  &.transgender-alt:before { content: '\e96e'; } /* '' */
  &.venus-double:before { content: '\e96f'; } /* '' */
  &.mars-double:before { content: '\e970'; } /* '' */
  &.venus-mars:before { content: '\e971'; } /* '' */
  &.mars-stroke:before { content: '\e972'; } /* '' */
  &.mars-stroke-v:before { content: '\e973'; } /* '' */
  &.mars-stroke-h:before { content: '\e974'; } /* '' */
  &.neuter:before { content: '\e975'; } /* '' */
  &.cc-visa:before { content: '\e976'; } /* '' */
  &.cc-mastercard:before { content: '\e977'; } /* '' */
  &.cc-discover:before { content: '\e978'; } /* '' */
  &.cc-amex:before { content: '\e979'; } /* '' */
  &.cc-paypal:before { content: '\e97a'; } /* '' */
  &.cc-stripe:before { content: '\e97b'; } /* '' */
  &.adn:before { content: '\e97c'; } /* '' */
  &.android:before { content: '\e97d'; } /* '' */
  &.angellist:before { content: '\e97e'; } /* '' */
  &.apple:before { content: '\e97f'; } /* '' */
  &.behance:before { content: '\e980'; } /* '' */
  &.behance-squared:before { content: '\e981'; } /* '' */
  &.bitbucket:before { content: '\e982'; } /* '' */
  &.bitbucket-squared:before { content: '\e983'; } /* '' */
  &.buysellads:before { content: '\e984'; } /* '' */
  &.cc:before { content: '\e985'; } /* '' */
  &.codeopen:before { content: '\e986'; } /* '' */
  &.connectdevelop:before { content: '\e987'; } /* '' */
  &.css3:before { content: '\e988'; } /* '' */
  &.dashcube:before { content: '\e989'; } /* '' */
  &.delicious:before { content: '\e98a'; } /* '' */
  &.deviantart:before { content: '\e98b'; } /* '' */
  &.digg:before { content: '\e98c'; } /* '' */
  &.dribbble:before { content: '\e98d'; } /* '' */
  &.dropbox:before { content: '\e98e'; } /* '' */
  &.drupal:before { content: '\e98f'; } /* '' */
  &.facebook:before { content: '\e990'; } /* '' */
  &.facebook-squared:before { content: '\e991'; } /* '' */
  &.facebook-official:before { content: '\e992'; } /* '' */
  &.flickr:before { content: '\e993'; } /* '' */
  &.forumbee:before { content: '\e994'; } /* '' */
  &.foursquare:before { content: '\e995'; } /* '' */
  &.git-squared:before { content: '\e996'; } /* '' */
  &.git:before { content: '\e997'; } /* '' */
  &.github:before { content: '\e998'; } /* '' */
  &.github-squared:before { content: '\e999'; } /* '' */
  &.github-circled:before { content: '\e99a'; } /* '' */
  &.gittip:before { content: '\e99b'; } /* '' */
  &.google:before { content: '\e99c'; } /* '' */
  &.gplus:before { content: '\e99d'; } /* '' */
  &.gplus-squared:before { content: '\e99e'; } /* '' */
  &.gwallet:before { content: '\e99f'; } /* '' */
  &.hacker-news:before { content: '\e9a0'; } /* '' */
  &.html5:before { content: '\e9a1'; } /* '' */
  &.instagram:before { content: '\e9a2'; } /* '' */
  &.ioxhost:before { content: '\e9a3'; } /* '' */
  &.joomla:before { content: '\e9a4'; } /* '' */
  &.jsfiddle:before { content: '\e9a5'; } /* '' */
  &.lastfm:before { content: '\e9a6'; } /* '' */
  &.lastfm-squared:before { content: '\e9a7'; } /* '' */
  &.leanpub:before { content: '\e9a8'; } /* '' */
  &.linkedin-squared:before { content: '\e9a9'; } /* '' */
  &.linux:before { content: '\e9aa'; } /* '' */
  &.linkedin:before { content: '\e9ab'; } /* '' */
  &.maxcdn:before { content: '\e9ac'; } /* '' */
  &.meanpath:before { content: '\e9ad'; } /* '' */
  &.openid:before { content: '\e9ae'; } /* '' */
  &.pagelines:before { content: '\e9af'; } /* '' */
  &.paypal:before { content: '\e9b0'; } /* '' */
  &.pied-piper-squared:before { content: '\e9b1'; } /* '' */
  &.pied-piper-alt:before { content: '\e9b2'; } /* '' */
  &.pinterest:before { content: '\e9b3'; } /* '' */
  &.pinterest-circled:before { content: '\e9b4'; } /* '' */
  &.pinterest-squared:before { content: '\e9b5'; } /* '' */
  &.qq:before { content: '\e9b6'; } /* '' */
  &.reddit:before { content: '\e9b7'; } /* '' */
  &.reddit-squared:before { content: '\e9b8'; } /* '' */
  &.renren:before { content: '\e9b9'; } /* '' */
  &.sellsy:before { content: '\e9ba'; } /* '' */
  &.shirtsinbulk:before { content: '\e9bb'; } /* '' */
  &.simplybuilt:before { content: '\e9bc'; } /* '' */
  &.skyatlas:before { content: '\e9bd'; } /* '' */
  &.skype:before { content: '\e9be'; } /* '' */
  &.slack:before { content: '\e9bf'; } /* '' */
  &.slideshare:before { content: '\e9c0'; } /* '' */
  &.soundcloud:before { content: '\e9c1'; } /* '' */
  &.spotify:before { content: '\e9c2'; } /* '' */
  &.stackexchange:before { content: '\e9c3'; } /* '' */
  &.stackoverflow:before { content: '\e9c4'; } /* '' */
  &.steam:before { content: '\e9c5'; } /* '' */
  &.steam-squared:before { content: '\e9c6'; } /* '' */
  &.stumbleupon:before { content: '\e9c7'; } /* '' */
  &.stumbleupon-circled:before { content: '\e9c8'; } /* '' */
  &.tencent-weibo:before { content: '\e9c9'; } /* '' */
  &.trello:before { content: '\e9ca'; } /* '' */
  &.tumblr:before { content: '\e9cb'; } /* '' */
  &.tumblr-squared:before { content: '\e9cc'; } /* '' */
  &.twitch:before { content: '\e9cd'; } /* '' */
  &.twitter-squared:before { content: '\e9ce'; } /* '' */
  &.twitter:before { content: '\e9cf'; } /* '' */
  &.vimeo-squared:before { content: '\e9d0'; } /* '' */
  &.vine:before { content: '\e9d1'; } /* '' */
  &.vkontakte:before { content: '\e9d2'; } /* '' */
  &.whatsapp:before { content: '\e9d3'; } /* '' */
  &.wechat:before { content: '\e9d4'; } /* '' */
  &.weibo:before { content: '\e9d5'; } /* '' */
  &.windows:before { content: '\e9d6'; } /* '' */
  &.wordpress:before { content: '\e9d7'; } /* '' */
  &.xing:before { content: '\e9d8'; } /* '' */
  &.xing-squared:before { content: '\e9d9'; } /* '' */
  &.yelp:before { content: '\e9da'; } /* '' */
  &.youtube:before { content: '\e9db'; } /* '' */
  &.yahoo:before { content: '\e9dc'; } /* '' */
  &.youtube-squared:before { content: '\e9dd'; } /* '' */
  &.youtube-play:before { content: '\e9de'; } /* '' */
  &.blank:before { content: '\e9df'; } /* '' */
  &.lemon:before { content: '\e9e0'; } /* '' */
  &.glass:before { content: '\e9e1'; } /* '' */
  &.music:before { content: '\e9e2'; } /* '' */
  &.search:before { content: '\e9e3'; } /* '' */
  &.mail:before { content: '\e9e4'; } /* '' */
  &.mail-alt:before { content: '\e9e5'; } /* '' */
  &.mail-squared:before { content: '\e9e6'; } /* '' */
  &.heart:before { content: '\e9e7'; } /* '' */
  &.heart.empty:before { content: '\e9e8'; } /* '' */
  &.star:before { content: '\e9e9'; } /* '' */
  &.star.empty:before { content: '\e9ea'; } /* '' */
  &.star-half:before { content: '\e9eb'; } /* '' */
  &.star-half-alt:before { content: '\e9ec'; } /* '' */
  &.user:before { content: '\e9ed'; } /* '' */
  &.user-plus:before { content: '\e9ee'; } /* '' */
  &.user-times:before { content: '\e9ef'; } /* '' */
  &.users:before { content: '\e9f0'; } /* '' */
  &.male:before { content: '\e9f1'; } /* '' */
  &.female:before { content: '\e9f2'; } /* '' */
  &.video:before { content: '\e9f3'; } /* '' */
  &.videocam:before { content: '\e9f4'; } /* '' */
  &.picture:before { content: '\e9f5'; } /* '' */
  &.camera:before { content: '\e9f6'; } /* '' */
  &.camera-alt:before { content: '\e9f7'; } /* '' */
  &.th-large:before { content: '\e9f8'; } /* '' */
  &.th:before { content: '\e9f9'; } /* '' */
  &.th-list:before { content: '\e9fa'; } /* '' */
  &.ok:before { content: '\e9fb'; } /* '' */
  &.ok-circled:before { content: '\e9fc'; } /* '' */
  &.ok-circled2:before { content: '\e9fd'; } /* '' */
  &.ok-squared:before { content: '\e9fe'; } /* '' */
  &.cancel:before { content: '\e9ff'; } /* '' */
  &.cancel-circled:before { content: '\ea00'; } /* '' */
  &.cancel-circled2:before { content: '\ea01'; } /* '' */
  &.plus:before { content: '\ea02'; } /* '' */
  &.plus-circled:before { content: '\ea03'; } /* '' */
  &.plus-squared:before { content: '\ea04'; } /* '' */
  &.child:before { content: '\ea05'; } /* '' */
  &.user-secret:before { content: '\ea06'; } /* '' */
  &.y-combinator:before { content: '\f23b'; } /* '' */
  &.optin-monster:before { content: '\f23c'; } /* '' */
  &.opencart:before { content: '\f23d'; } /* '' */
  &.expeditedssl:before { content: '\f23e'; } /* '' */
  &.battery-4:before { content: '\f240'; } /* '' */
  &.battery-3:before { content: '\f241'; } /* '' */
  &.battery-2:before { content: '\f242'; } /* '' */
  &.battery-1:before { content: '\f243'; } /* '' */
  &.battery-0:before { content: '\f244'; } /* '' */
  &.mouse-pointer:before { content: '\f245'; } /* '' */
  &.i-cursor:before { content: '\f246'; } /* '' */
  &.object-group:before { content: '\f247'; } /* '' */
  &.object-ungroup:before { content: '\f248'; } /* '' */
  &.sticky-note:before { content: '\f249'; } /* '' */
  &.sticky-note-o:before { content: '\f24a'; } /* '' */
  &.cc-jcb:before { content: '\f24b'; } /* '' */
  &.cc-diners-club:before { content: '\f24c'; } /* '' */
  &.clone:before { content: '\f24d'; } /* '' */
  &.balance-scale:before { content: '\f24e'; } /* '' */
  &.hourglass-o:before { content: '\f250'; } /* '' */
  &.hourglass-1:before { content: '\f251'; } /* '' */
  &.hourglass-2:before { content: '\f252'; } /* '' */
  &.hourglass-3:before { content: '\f253'; } /* '' */
  &.hourglass:before { content: '\f254'; } /* '' */
  &.hand-grab-o:before { content: '\f255'; } /* '' */
  &.hand-paper-o:before { content: '\f256'; } /* '' */
  &.hand-scissors-o:before { content: '\f257'; } /* '' */
  &.hand-lizard-o:before { content: '\f258'; } /* '' */
  &.hand-spock-o:before { content: '\f259'; } /* '' */
  &.hand-pointer-o:before { content: '\f25a'; } /* '' */
  &.hand-peace-o:before { content: '\f25b'; } /* '' */
  &.trademark:before { content: '\f25c'; } /* '' */
  &.registered:before { content: '\f25d'; } /* '' */
  &.creative-commons:before { content: '\f25e'; } /* '' */
  &.gg:before { content: '\f260'; } /* '' */
  &.gg-circle:before { content: '\f261'; } /* '' */
  &.tripadvisor:before { content: '\f262'; } /* '' */
  &.odnoklassniki:before { content: '\f263'; } /* '' */
  &.odnoklassniki-square:before { content: '\f264'; } /* '' */
  &.get-pocket:before { content: '\f265'; } /* '' */
  &.wikipedia-w:before { content: '\f266'; } /* '' */
  &.safari:before { content: '\f267'; } /* '' */
  &.chrome:before { content: '\f268'; } /* '' */
  &.firefox:before { content: '\f269'; } /* '' */
  &.opera:before { content: '\f26a'; } /* '' */
  &.internet-explorer:before { content: '\f26b'; } /* '' */
  &.television:before { content: '\f26c'; } /* '' */
  &.contao:before { content: '\f26d'; } /* '' */
  &.500px:before { content: '\f26e'; } /* '' */
  &.amazon:before { content: '\f270'; } /* '' */
  &.calendar-plus-o:before { content: '\f271'; } /* '' */
  &.calendar-minus-o:before { content: '\f272'; } /* '' */
  &.calendar-times-o:before { content: '\f273'; } /* '' */
  &.calendar-check-o:before { content: '\f274'; } /* '' */
  &.industry:before { content: '\f275'; } /* '' */
  &.map-pin:before { content: '\f276'; } /* '' */
  &.map-signs:before { content: '\f277'; } /* '' */
  &.map-o:before { content: '\f278'; } /* '' */
  &.map:before { content: '\f279'; } /* '' */
  &.commenting:before { content: '\f27a'; } /* '' */
  &.commenting-o:before { content: '\f27b'; } /* '' */
  &.houzz:before { content: '\f27c'; } /* '' */
  &.vimeo:before { content: '\f27d'; } /* '' */
  &.black-tie:before { content: '\f27e'; } /* '' */
  &.fonticons:before { content: '\f280'; } /* '' */
  &.reddit-alien:before { content: '\f281'; } /* '' */
  &.edge:before { content: '\f282'; } /* '' */
  &.credit-card-alt:before { content: '\f283'; } /* '' */
  &.codiepie:before { content: '\f284'; } /* '' */
  &.modx:before { content: '\f285'; } /* '' */
  &.fort-awesome:before { content: '\f286'; } /* '' */
  &.usb:before { content: '\f287'; } /* '' */
  &.product-hunt:before { content: '\f288'; } /* '' */
  &.mixcloud:before { content: '\f289'; } /* '' */
  &.scribd:before { content: '\f28a'; } /* '' */
  &.pause-circle:before { content: '\f28b'; } /* '' */
  &.pause-circle-o:before { content: '\f28c'; } /* '' */
  &.stop-circle:before { content: '\f28d'; } /* '' */
  &.stop-circle-o:before { content: '\f28e'; } /* '' */
  &.shopping-bag:before { content: '\f290'; } /* '' */
  &.shopping-basket:before { content: '\f291'; } /* '' */
  &.hashtag:before { content: '\f292'; } /* '' */
  &.bluetooth:before { content: '\f293'; } /* '' */
  &.bluetooth-b:before { content: '\f294'; } /* '' */
  &.percent:before { content: '\f295'; } /* '' */
  &.gitlab:before { content: '\f296'; } /* '' */
  &.wpbeginner:before { content: '\f297'; } /* '' */
  &.wpforms:before { content: '\f298'; } /* '' */
  &.envira:before { content: '\f299'; } /* '' */
  &.universal-access:before { content: '\f29a'; } /* '' */
  &.wheelchair-alt:before { content: '\f29b'; } /* '' */
  &.question-circle-o:before { content: '\f29c'; } /* '' */
  &.blind:before { content: '\f29d'; } /* '' */
  &.audio-description:before { content: '\f29e'; } /* '' */
  &.volume-control-phone:before { content: '\f2a0'; } /* '' */
  &.braille:before { content: '\f2a1'; } /* '' */
  &.assistive-listening-systems:before { content: '\f2a2'; } /* '' */
  &.american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
  &.asl-interpreting:before { content: '\f2a4'; } /* '' */
  &.glide:before { content: '\f2a5'; } /* '' */
  &.glide-g:before { content: '\f2a6'; } /* '' */
  &.sign-language:before { content: '\f2a7'; } /* '' */
  &.low-vision:before { content: '\f2a8'; } /* '' */
  &.viadeo:before { content: '\f2a9'; } /* '' */
  &.viadeo-square:before { content: '\f2aa'; } /* '' */
  &.snapchat:before { content: '\f2ab'; } /* '' */
  &.snapchat-ghost:before { content: '\f2ac'; } /* '' */
  &.snapchat-square:before { content: '\f2ad'; } /* '' */
  &.pied-piper:before { content: '\f2ae'; } /* '' */
  &.first-order:before { content: '\f2b0'; } /* '' */
  &.yoast:before { content: '\f2b1'; } /* '' */
  &.themeisle:before { content: '\f2b2'; } /* '' */
  &.google-plus-circle:before { content: '\f2b3'; } /* '' */
  &.font-awesome:before { content: '\f2b4'; } /* '' */
}
