.popup {
  position: absolute;
  z-index: 999999;
  display: none;
}

.popup.active {
  display: block;
}

.popup.time .pika-lendar {
  display: none;
}

.popup.date .pika-time {
  display: none;
}

.input.suggested > input {
  font-weight: bold;
  //font-family: 'Dosis Bold';
}

.suggest {
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 160px;
}

